<nav class="site-nav">
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="false"}}">{{label}}</a></li>
        {{/foreach}}
            <li class="nav-rss" role="presentation"><a href="/rss/">Subscribe</a></li>
    </ul>
   
</nav>
