<!DOCTYPE html>
<html lang="en-ca">
<head>
    {{> head}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

{{> header}}

{{navigation}}

<main class="content" role="main">
    {{{body}}}
</main>

{{> footer}}
</body>
</html>
