{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<main class="content" role="main">
    <p>Tag: {{#tag}}{{name}}{{/tag}}</p>
    <p>A {{pagination.total}}-post collection</p>
    
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
