// Sets font-size to rem computed fom pixel size
// Fallsback to pixels for browsers that don't support it.
.font-size(@font-size: 16){
@rem: (@font-size / 10);
font-size : @font-size * 1px;
font-size : ~"@{rem}rem"; 
}

// .rounded(VALUE);
.rounded(@radius:4px) {
-webkit-border-radius : @radius;
-moz-border-radius : @radius;
border-radius : @radius; 
}

// .transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
.transition(@property, @duration: 0, @timing-function: ease, @delay: 0s) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

// .background-size(VALUE VALUE);
.background-size(@size){
-webkit-background-size : @size;
-moz-background-size : @size;
-o-background-size : @size;
background-size : @size; 
}

// Contain floats
.clearfix {
&:before,
    &:after {
    display: table;
    content : ""; 
    }
    &:after {
    clear : both; 
    }
}

// For image replacement
.hide-text() {
text-indent : 100%;
white-space : nowrap;
overflow : hidden; }

// Hide from visual and speaking browsers
.hidden() {
display : none !important; 
visibility : hidden;
}

// Hide but maintain layout
.invisible() { 
visibility : hidden;
}