// The main wrapper for our pagination links
.pagination {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    .font-size(8);
    color: @lightgrey;
    text-align: center;
    a {
        color: @grey;
    }
}

// Push the previous/next links out to the left/right
.older-posts,
.newer-posts {
    position: static;
    display: inline-block;
    padding: 4px 15px;
    text-decoration: none;
}

.page-number {
    display: block;
    margin: 10px 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: @basecolor;
}
