// The main wrapper for our pagination links
.pagination {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    font-family: @secondaryfont;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
    a {
        color: #9EABB3;
    }
}

// Push the previous/next links out to the left/right
.older-posts,
.newer-posts {
    position: static;
    display: inline-block;
    padding: 0 15px;
    margin: 10px 0;
    border: #EBF2F6 2px solid;
    text-decoration: none;
    border-radius: 30px;
    .transition (border, 0.5s, ease);
}

.page-number {
    display: block;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: @basecolor;
}
